Repository flaport/sax: changes, and which pre-commit hooks are due for each by the changed paths.
All: nbstripout, formatnbs, format

nbstripout:
  name: nbstripout
  entry: nbstripout
  language: python
  pass_filenames: true

formatnbs:
  name: formatnbs
  entry: black
  language: python
  pass_filenames: true

format:
  name: format (autoimport + isort + black)
  entry: python .format.py
  language: python
  pass_filenames: true

bump klujax
  pyproject.toml
Due: none

Bump version: 0.11.3 → 0.11.4
  .bumpversion.cfg
  .github/workflows/publish.yml
  docs/source/conf.py
  pyproject.toml
  sax/__init__.py
Due: format

accept info['model'] config to override component
  sax/backends/additive.py
  sax/backends/filipsson_gunnar.py
  sax/backends/klu.py
  sax/circuit.py
  sax/netlist.py
Due: format

Bump version: 0.11.4 → 0.12.0
  .bumpversion.cfg
  .github/workflows/publish.yml
  docs/source/conf.py
  pyproject.toml
  sax/__init__.py
Due: format

bugfix
  sax/backends/additive.py
  sax/backends/filipsson_gunnar.py
  sax/backends/klu.py
  sax/netlist.py
Due: format

Bump version: 0.12.0 → 0.12.1
  .bumpversion.cfg
  .github/workflows/publish.yml
  docs/source/conf.py
  pyproject.toml
  sax/__init__.py
Due: format

pin min version of flax
  pyproject.toml
Due: none

Bump version: 0.12.1 → 0.12.2
  .bumpversion.cfg
  .github/workflows/publish.yml
  docs/source/conf.py
  pyproject.toml
  sax/__init__.py
Due: format

add docstrings
  sax/circuit.py
  sax/models.py
Due: format

badd cuda
  sax/backends/__init__.py
  sax/backends/cuda.py
Due: format

add cuda to optional packages
  pyproject.toml
Due: none

Add CUDA backend.
  sax/backends/__init__.py
  sax/backends/cuda.py
Due: format

Use jax[cuda12].
  pyproject.toml
Due: none

Add backends test script.
  tests/test_backends.py
Due: format

Apply pre-commit to test_nbs.py.
  tests/test_nbs.py
Due: format

Use loops to handle missing dimension in CUDA backend.
  sax/backends/__init__.py
  sax/backends/cuda.py
Due: format

Add quick start test.
  tests/test_quick_start.py
Due: format

proper update to pydantic v2
  pyproject.toml
  sax/circuit.py
  sax/netlist.py
Due: format

deprecate sax.nn
  pyproject.toml
  sax/__init__.py
  sax/loss.py
  sax/nn/__init__.py
  sax/nn/core.py
  sax/nn/io.py
  sax/nn/utils.py
  sax/utils.py
Due: format

fix pydantic v2 transition
  CHANGELOG.md
  pyproject.toml
  sax/circuit.py
  sax/netlist.py
  tests/test_netlist.py
Due: format

deprecate info subdirectory in instance dict
  sax/backends/additive.py
  sax/backends/filipsson_gunnar.py
  sax/backends/klu.py
  sax/circuit.py
Due: format

Cleanup and refactoring. Tests added.
  CHANGELOG.md
  sax/__init__.py
  sax/circuit.py
  sax/netlist.py
  sax/patched.py
  sax/utils.py
  tests/test_circuit.py
  tests/test_netlist.py
Due: format

handle callable instances again
  sax/circuit.py
  sax/netlist.py
  sax/utils.py
  tests/test_netlist.py
Due: format

coerce nets into connections
  sax/circuit.py
  sax/netlist.py
Due: format

update examples
  .gitignore
  .pre-commit-config.yaml
  Makefile
  examples/.gitignore
  examples/01_quick_start.ipynb
  examples/02_all_pass_filter.ipynb
  examples/03_circuit_from_yaml.ipynb
  examples/04_multimode_simulations.ipynb
  examples/05_thinfilm.ipynb
  examples/06_additive_backend.ipynb
  examples/07_layout_aware.ipynb
  examples/08_sparse_coo.ipynb
  internals/01_models.ipynb
  internals/02_circuit.ipynb
  internals/03_backends.ipynb
  pyproject.toml
  tests/nbs/00_typing.ipynb
  tests/nbs/01_utils.ipynb
  tests/nbs/02_multimode.ipynb
  tests/nbs/03_backends.ipynb
Due: nbstripout, formatnbs

update docs
  Makefile
  docs/source/index.md
  docs/source/sax.loss.rst
  docs/source/sax.nn.core.rst
  docs/source/sax.nn.io.rst
  docs/source/sax.nn.loss.rst
  docs/source/sax.nn.rst
  docs/source/sax.nn.utils.rst
  docs/source/sax.patched.rst
  docs/source/sax.rst
  examples/07_layout_aware.ipynb
  examples/08_sparse_coo.ipynb
  internals/03_backends.ipynb
Due: nbstripout, formatnbs

Bump version: 0.12.2 → 0.13.0
  .bumpversion.cfg
  .github/workflows/publish.yml
  docs/source/conf.py
  pyproject.toml
  sax/__init__.py
Due: format

update Dockerfile
  Dockerfile.dev
Due: none

Deploying to pages from @ flaport/sax@498f0528230e36a8b55424822f408ba16afbf696 🚀
  _downloads/efb3b4666098beb850423676c57575d3/sax-utils-1.pdf
  _sources/examples/01_quick_start.ipynb
  _sources/examples/02_all_pass_filter.ipynb
  _sources/examples/03_circuit_from_yaml.ipynb
  _sources/examples/04_multimode_simulations.ipynb
  _sources/examples/05_thinfilm.ipynb
  _sources/examples/06_additive_backend.ipynb
  _sources/examples/07_layout_aware.ipynb
  _sources/examples/08_sparse_coo.ipynb
  _sources/internals/01_models.ipynb
  _sources/internals/02_circuit.ipynb
  _sources/internals/03_backends.ipynb
  examples/01_quick_start.html
  examples/02_all_pass_filter.html
  examples/05_thinfilm.html
  examples/07_layout_aware.html
  internals/01_models.html
  internals/03_backends.html
  sax.netlist.html
  searchindex.js
Due: nbstripout, formatnbs

update Makefile
  .bumpversion.cfg
  Makefile
Due: none

Bump version: 0.13.0 → 0.13.1
  .bumpversion.cfg
  .github/workflows/publish.yml
  Makefile
  docs/source/conf.py
  pyproject.toml
  sax/__init__.py
Due: format

Path conditions:
  nbstripout: any of: \.ipynb$
  formatnbs: any of: \.ipynb$
  format: any of: \.py$
