Repository flaport/sax: changes, and which pre-commit hooks are due for each by the changed paths.
All: nbstripout, formatnbs, format

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: nbstripout
    name: nbstripout
    entry: nbstripout
    language: python
    pass_filenames: true
    types: [jupyter]
  - id: formatnbs
    name: formatnbs
    entry: black
    language: python
    pass_filenames: true
    types: [jupyter]
  - id: format
    name: format (autoimport + isort + black)
    entry: python .format.py
    language: python
    pass_filenames: true
    types: [python]

formatting
  .format.py
  sax/backends/additive.py
  sax/backends/filipsson_gunnar.py
  sax/backends/klu.py
  sax/netlist.py
  sax/nn/core.py
  sax/nn/io.py
  sax/nn/loss.py
  sax/nn/utils.py
  sax/saxtypes.py
  sax/utils.py
Due: format

split up dockerfile
  Dockerfile
  Dockerfile.dev
Due: none

Deploying to pages from @ flaport/sax@fac7ef14d6815e3b46b69d2ed02ab568144dd451 🚀
  _downloads/efb3b4666098beb850423676c57575d3/sax-utils-1.pdf
  _images/5ea7e0482588d7c237e679481abd899d3fe5677da944859b20f79a943efdf682.png
  _images/6d29c7b7bb8703e40ee9c116371f8f7432767e76d61bc64c0072b3625a7b965e.png
  _images/99e84d3c218c76982c8ef4338a7cc739e5bc5a0d30b7a197edf9f29ce14ed6cd.png
  _images/a1488aa61fcddc2d7d5adf646ba2252db62eb1d09585d7a7281f0c2e899d2422.png
  _images/c6f45cfd643cfcf2a6f09955180ea933b5d02d4f1bd7af5db8ec618b180cc3c2.png
  _images/f25176040eb50c6c636785a33436ff0da6d4eba9efd0d7e3083f86c015513734.png
  _sources/examples/01_quick_start.ipynb
  _sources/examples/02_all_pass_filter.ipynb
  _sources/examples/03_circuit_from_yaml.ipynb
  _sources/examples/04_multimode_simulations.ipynb
  _sources/examples/05_thinfilm.ipynb
  _sources/examples/06_additive_backend.ipynb
  _sources/examples/07_layout_aware.ipynb
  _sources/internals/01_models.ipynb
  _sources/internals/02_circuit.ipynb
  _sources/internals/03_backends.ipynb
  examples/01_quick_start.html
  examples/02_all_pass_filter.html
  examples/05_thinfilm.html
  examples/07_layout_aware.html
  internals/01_models.html
  internals/02_circuit.html
  internals/03_backends.html
  searchindex.js
Due: nbstripout, formatnbs

evaluate rather than trace model to get ports
  .format.py
  .pre-commit-config.yaml
  sax/utils.py
Due: format

Bump version: 0.10.1 → 0.10.2
  .bumpversion.cfg
  .github/workflows/publish.yml
  docs/source/conf.py
  pyproject.toml
  sax/__init__.py
Due: format

add MANIFEST.in
  MANIFEST.in
  pyproject.toml
Due: none

Deploying to pages from @ flaport/sax@25c5515442114bef3720862c4a3f2948ef755ac3 🚀
  _downloads/efb3b4666098beb850423676c57575d3/sax-utils-1.pdf
  _images/156e9c7c7aa3ae893ecae16f1f833e209a72a1ee790300959fff22c93cc7c094.png
  _images/1f191e7c4ab9c09f5eadf4461a3b5fd5b28fe92b7438dbcddd49ea7a52c46b30.png
  _images/4f9a9a0a434044e58c69f9827cae3fc1dd6e74b27d7f07968ffe3ac557490a20.png
  _images/562f48327be06653b3321f324615f549ec9cddad7f99916bddaf74743902a845.png
  _images/621964173923abc3af90cec5d121e5f0eea94773aee8750c6e0416a4acbf1534.png
  _images/707b220fee3c419fd4484b8948089cfbe52e79a589b14c77670b174eb94d0361.png
  _images/84d3f2d7e43a1a809bc8bf29c4dcd3421bd73bb16d858ec75f685c17781cd564.png
  _images/8c362256c5d2a389c1531519c60935d9439560de4e2948469fcde032706f8c45.png
  _images/a8a81baa53c90a4c0a11f07207a691e516b798c14685f050e6263eac39e4b3b2.png
  _images/b6cfcb8961b66194bcd8a037eac7576f44846edb6ffae328f8aca9150706a3ad.png
  _images/dea14e53a46703b70bec34abce432eb714a92e4903cc23b90958ce9fccfd7476.png
  _images/eb1277236acc38bc707dcc8825662018f0309d3ab7dc0c7b6bfb1a729cb44da4.png
  _sources/examples/01_quick_start.ipynb
  _sources/examples/02_all_pass_filter.ipynb
  _sources/examples/03_circuit_from_yaml.ipynb
  _sources/examples/04_multimode_simulations.ipynb
  _sources/examples/05_thinfilm.ipynb
  _sources/examples/06_additive_backend.ipynb
  _sources/examples/07_layout_aware.ipynb
  _sources/internals/01_models.ipynb
  _sources/internals/02_circuit.ipynb
  _sources/internals/03_backends.ipynb
  examples/01_quick_start.html
  examples/02_all_pass_filter.html
  examples/05_thinfilm.html
  examples/07_layout_aware.html
  internals/01_models.html
  internals/02_circuit.html
  internals/03_backends.html
  searchindex.js
Due: nbstripout, formatnbs

add changelog
  CHANGELOG.md
  docs/source/index.md
Due: none

fix changelog
  CHANGELOG.md
Due: none

pin jax
  pyproject.toml
Due: none

bump klujax
  pyproject.toml
Due: none

Bump version: 0.10.2 → 0.10.3
  .bumpversion.cfg
  .github/workflows/publish.yml
  docs/source/conf.py
  pyproject.toml
  sax/__init__.py
Due: format

handle '$' sign in netlist component value
  sax/netlist.py
Due: format

Allow for omitting placements in recursive netlist
  sax/netlist.py
Due: format

handle complex function arguments (#28)
  sax/__init__.py
  sax/utils.py
Due: format

Bump version: 0.10.3 → 0.10.4
  .bumpversion.cfg
  .github/workflows/publish.yml
  docs/source/conf.py
  pyproject.toml
  sax/__init__.py
Due: format

analyze dummy models to prevent dense representation during evaluation
  examples/01_quick_start.ipynb
  examples/02_all_pass_filter.ipynb
  examples/03_circuit_from_yaml.ipynb
  examples/04_multimode_simulations.ipynb
  examples/05_thinfilm.ipynb
  examples/06_additive_backend.ipynb
  examples/07_layout_aware.ipynb
  sax/backends/__init__.py
  sax/backends/additive.py
  sax/backends/filipsson_gunnar.py
  sax/backends/klu.py
  sax/circuit.py
  sax/saxtypes.py
Due: nbstripout, formatnbs, format

better error messages
  sax/circuit.py
Due: format

merge upstream
  sax/backends/__init__.py
  sax/backends/additive.py
  sax/backends/filipsson_gunnar.py
  sax/backends/klu.py
  sax/circuit.py
  sax/saxtypes.py
Due: format

add flatten_netlist function
  sax/__init__.py
  sax/backends/additive.py
  sax/netlist.py
Due: format

format imports
  sax/__init__.py
  sax/backends/__init__.py
  sax/backends/additive.py
  sax/backends/filipsson_gunnar.py
  sax/backends/klu.py
  sax/circuit.py
  sax/netlist.py
  sax/nn/__init__.py
Due: format

global settings should only override non-given default arguments
  .gitignore
  sax/circuit.py
Due: format

Bump version: 0.10.4 → 0.11.0
  .bumpversion.cfg
  .github/workflows/publish.yml
  docs/source/conf.py
  pyproject.toml
  sax/__init__.py
Due: format

fix bugs introduced in 0.11 release
  sax/backends/additive.py
  sax/backends/filipsson_gunnar.py
  sax/backends/klu.py
  sax/circuit.py
Due: format

update notebooks
  examples/08_sparse_coo.ipynb
  internals/01_models.ipynb
  internals/02_circuit.ipynb
  internals/03_backends.ipynb
Due: nbstripout, formatnbs

Bump version: 0.11.0 → 0.11.1
  .bumpversion.cfg
  .github/workflows/publish.yml
  docs/source/conf.py
  pyproject.toml
  sax/__init__.py
Due: format

fix tests
  .github/workflows/main.yml
  tests/nbs/00_typing.ipynb
  tests/nbs/01_utils.ipynb
  tests/nbs/02_multimode.ipynb
  tests/nbs/03_backends.ipynb
Due: nbstripout, formatnbs

fix notebooks
  internals/02_circuit.ipynb
  sax/saxtypes.py
Due: nbstripout, formatnbs, format

flatten netlist: ignore ports that don't follow correct format.
  sax/netlist.py
Due: format

Bump version: 0.11.1 → 0.11.2
  .bumpversion.cfg
  .github/workflows/publish.yml
  docs/source/conf.py
  pyproject.toml
  sax/__init__.py
Due: format

improve flatten netlist further.
  sax/netlist.py
Due: format

Bump version: 0.11.2 → 0.11.3
  .bumpversion.cfg
  .github/workflows/publish.yml
  docs/source/conf.py
  pyproject.toml
  sax/__init__.py
Due: format
